﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>
<body>
	<div id="logoSmallCntr" class="mainCntrs">
        <a href="/"><img class="logoSmall" src="images/shoplistlogo.png" alt="ShopList logo"></a>
    </div>
	<div id="erCntr" class="mainCntrs">
		<p id="text">
			<span class="langPL noDisplay">Napotkałaś/łeś <%= error %>. Sprawdź czy adres URL został wpisany poprawnie.</span>
			<span class="langEN">You've encountered an <%= error %>. Check the URL address.</span>
		</p></br>
		<a id="back" class="btns" href="/"><span class="langPL noDisplay">Powrót</span><span class="langEN">Back</span></a></br></br>
	</div>
</body>
</html>