﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>
<body class="container">

<header>
    <% include partials/header %>
</header>

<main>
    <div id="logoBigCntr" class="mainCntrs">
        <a id="logoBig" href="/"><img class="logoBig" src="images/shoplistlogo.png" alt="ShopList logo"></a>
    </div>
    <div id="titleCntr" class="mainCntrs">
        <p id="title">ShopList</p>
    </div>
    <div id="buttonCntr" class="mainCntrs">
		<a id="start" class="btns" href="/shopping_list"><span class="langPL noDisplay">Start</span><span class="langEN">Start</span></a>
    </div>
</main>
</body>
</html>