﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <% include partials/head %>
</head>
<body>
    <div id="logoSmallCntr" class="mainCntrs">
		<a href="/"><img class="logoSmall" src="images/shoplistlogo.png" alt="ShopList logo"></a>
	</div>
    <% include partials/header %>
    <!-- here's the form for making a new list -->
    <form id="newList" class="mainCntrs">
		<div class="header">
			<label for="listSelect"><span class="langPL noDisplay">WYBIERZ ISTNIEJĄCĄ LISTĘ</span><span class="langEN">CHOOSE AN EXISTING LIST</span></label></br></br>
			<select id="listSelect" class="btns"></select>
		</div></br>
		<div class="lineSeparator"></div></br>
        <div id="myDiv" class="header">
			<span class="langPL noDisplay">STWÓRZ NOWĄ LISTĘ</span><span class="langEN">CREATE A NEW LIST</span></br></br>
			<img id="questionMark" src="images/questionMark.png">
			<div id="tips" class="noDisplay">
				<span class="langPL noDisplay">
					1. Pole nazwa listy musi być wypełnione.</br>
					2. Nazwa nie może się powtarzać.</br>
					3. Lista nie może być pusta.</br>
					4. Dodaj produkty manualnie lub głosowo.</br>
					5. By używać głosu musisz korzystać z przeglądarki Google Chrome i pozwolić na wykorzystanie mikrofonu.</br>
				</span>
				<span class="langEN">
					1. List name field must be filled.</br>
					2. Its name must be unique.</br>
					3. List cannot be empty.</br>
					4. Add products manually or with voice.</br>
					5. To use voice you have to use Google Chrome browser and permit microphone use.</br>
				</span>
			</div>
			<div>
				<label for="writeName" class="labels"><span class="langPL noDisplay"> nazwa listy</span><span class="langEN"> list name</span></label>
				<input type="text" required="required" id="writeName" class="inputs" placeholder="..."></br></br>
			</div></br>
			<div>
				<label for="myInput"><span class="langPL noDisplay">nazwa produktu</span><span class="langEN">product name</span></label>
				<input type="text" id="myInput" class="inputs" placeholder="...">
			</div>
        </div></br></br>
		<div class="mainCntrs">
            <button type="button" id="addItem"class="btns"><span class="inbtn"></span><span class="langPL noDisplay">Dodaj</span><span class="langEN">Add</span></button>
		</div></br></br></br></br>
        <ul id="myUL"></ul>
		<div class="header"></br>
			<button type="button" id="listSave" class="btns"><span class="langPL noDisplay">Zapisz</span><span class="langEN">Save</span></button>
			<button type="button" id="listPrint" class="btns"><span class="langPL noDisplay">Drukuj</span><span class="langEN">Print</span></button>
		</div>
    </form>
    <script type="text/javascript" src="/javascripts/shoppingList.js"></script>
</body>
</html>