﻿<!-- views/partials/header.ejs -->

<div id="selectLangCntr" class="mainCntrs">
  <select name="language" id="selectLang" class="btns">
    <option value="English">English</option>
    <option value="polski">polski</option>
  </select>
</div>