﻿<!-- views/partials/head.ejs -->
<meta name="viewport" content="width=device-width, initial-scale=1" charset="utf-8">
<title>ShopList</title>

<!-- linking the scripts, neccesary during the loading of the page like libraries or other dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/cookieCheck.js"></script>

<!-- linking the style sheet -->
<link rel="stylesheet" type="text/css" href="/stylesheets/scss/reset.css" hreflang="UTF-8"/>
<link rel="stylesheet" type="text/css" href="/stylesheets/scss/shopList.css" hreflang="UTF-8"/>

