@mixin cntrs {
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
}

@mixin defaultButton {
    border: 4px solid #ffffff;
    background-color: #4ba351;
    outline: none;
    box-sizing: border-box;
    /*margin-left: 5vw;
    margin-right: 5vw;*/
    height: 50px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

@mixin interaction {
    letter-spacing: 4px;
    transition: 0.5s;
}

@mixin fontStyle($font-size: 2em, $font-family: sans-serif, $color: #ffffff) {
    font: $font-size $font-family;
    color: $color;
}

@mixin toPrint {
    visibility: visible;
    position: absolute;
    left: 0;
}