// mixins
@import "_shopListMixins";

body {
    background-image: url(/images/foods.jpg);
    background-color: #4ba351;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    text-align: center;
}

.mainCntrs {
    @include cntrs;
}

#newList {
    top: 20vh;
    left: 20%;
    width: 60%;
}

#logoSmallCntr {
    top: 0;
    left: 3vw;
    width: 100px;
    height: 10vh;
    text-align: left;
}

.logoSmall {
    width: 71.25px;
    height: 55px;
}

#selectLangCntr {
    top: 0;
    right: 5vw;
    height: 10vh;
    text-align: right;
}

#logoBigCntr {
    top: 10vh;
    width: 80vw;
}

.logoBig {
    width: 285px;
    height: 220px;
}

#titleCntr {
    top: 50vh;
    @include fontStyle(5em);
}

#title {
    color: #ffffff;
    -webkit-text-fill-color: #ffffff; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #4ba351;
}

#buttonCntr {
    top: 80vh;
}

.btns {
    @include defaultButton;
    @include fontStyle;
    &:hover {
        @include interaction;
    }
}

#listSelect {
    width: auto;
    &:hover {
        letter-spacing: normal;
    }
}

#back {
    background-color: transparent;
}

#selectLang {
    background-color: #4ba351;
    width: auto;
    /*width: 225px;*/
    margin-left: 5vw;
    margin-right: 5vw;
    @include fontStyle;
    padding-left: 5vmin;
    padding-right: 5vmin;
    &:hover {
        letter-spacing: normal;
    }
    option {
        background-color: #4ba351;
    }
}

.noDisplay {
    display: none;
}

#newList {
    height: auto;
    background-color: #4ba351;
    padding: 30px 40px;
    color: #ffffff;
    text-align: center;
}

.inputs {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 80%;
    padding: 0;
    float: left;
    font-size: 16px;
    display: block;
}

#erCntr {
    top: 50vh;
    background-color: #000000;
    opacity: 0.5;
}

#text {
    @include fontStyle;
    opacity: 1;
}

/* Style the list items */
ul {
    padding-left: 0;
    list-style-type: none;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #ffb867;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #ecaa5e;
}
/* Darker background-color on hover */
ul li:hover {
    background: #c08e55;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #c08e55;
    color: #fff;
    text-decoration: line-through;
    text-decoration-color: #4ba351;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #4ba351;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;

    & :hover {
        background-color: #4ba351;
        color: #000;
    }
}

.lineSeparator {
    width: 100%;
    height: 1px;
    background-color: #ffffff;
}

#questionMark {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;

    &:hover {
        -ms-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}

#tips {
    text-align: left;
    &:after {
        content: '\00a0';
    }
}

// scaling elements based on the device size
@media (max-width: 800px) {
    #writeName, #myInput {
        width: 100%;
    }
}

@media (max-width: 550px) {
    #listSelect {
        width: 200px;
    }
}

/* Defining content to print */
@media print {
    form,
    #selectLangCntr {
        visibility: hidden;
    }
    #myUL {
        @include toPrint;
        top: 20%;
    }
    #writeName {
        top: 0%;
        @include fontStyle;
        @include toPrint;
    }
}